<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{title}}</title>
    {{> stylesheet}}
  <body>
    {{> header}}
    
    {{{body}}}

    {{> script}}
  </body>
</html>